<div class="mb-10">
  <h1 class=" px-10 self-stretch flex-grow-0 flex-shrink-0 text-base font-medium text-left text-[#10151b]">
    Dashboard
  </h1>

  <%= session[:email] %>
  <%= session[:name] %>
  <%= session[:organization_name] %>
</div>