<div class="mb-10">
  <h1 class="px-2 self-stretch flex-grow-0 flex-shrink-0 text-base font-medium text-left text-[#10151b]">
    Dashboard
  </h1>

  <p class="p-2">Account ID: <%= @current_account.id %></p>

  <p class="p-2"><%= @current_user.email %></p>
  <p class="p-2"><%= @current_user.name %></p>
  <p class="p-2"><%= @current_user.organization_name %></p>
</div>