<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuickNode Marketplace</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #20bf55 0%, #01baef 100%); /* Sexy green to blue gradient */
      font-family: 'Arial', sans-serif;
      color: white; /* White color for the text to contrast with the background */
    }
    h1 {
      font-size: 2em;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>